.establishment-select {
  height: 60%;
  width: 80%;
}

.establishment-container {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 0.5em 0;
  margin: 0;
  user-select: none;
}

.establishment-listing {
  height: 2em;
  width: 90%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  box-sizing: border-box;
  border: 4px inset var(--off-cream);
  margin-bottom: 0.2em;
}

.listing-container {
  height: 100%;
  width: 60%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.selected {
  background: var(--opal-green);
}

.disabled {
  color: var(--off-white) !important;
}
