.seeds {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.buy-button {
  background: var(--cream);
  width: 5em;
  height: 1.8em;
  font-size: 1.7em;
  letter-spacing: 0.1em;
  border-radius: 5px;
  border: 3px solid black;
}

.shop-item {
  width: 80%;
  position: relative;
  display: grid;
  grid-template-columns: 1.3fr 0.7fr 1fr;
  align-items: center;
  border-bottom: 5px solid black;
  padding: 0.2em;
}

.seed-count-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.seed-count_label {
  font-size: 0.7em;
}

.seed-count {
  width: 3em;
  padding: 0;
  margin: 0;
}

.store-result {
  width: 95%;
  display: flex;
  position: relative;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}
