:root {
  --grass-green: #8fbe4f;
  --forest-green: #465e29;
  --opal-green: #bad287;
  --orange: #eba74c;
  --cream: #f3eeaa;
  --grey: #988b79;
  --white: #efebe7;
  --off-cream: #d2d28d;
  --off-orange: #e3901c;
  --off-grey: #7e7063;
  --off-white: #d5cbc0;
  /* Vegetable Colors */
  --carrot: #f0900f;
  --corn: #ddda18;
  --celery: #31b900;
}
