.cream_text-with-border--large {
  color: var(--cream);
  text-shadow: 0 0 0.08em black;
  font-weight: bold;
}

.cream_text-with-border--small {
  color: var(--cream);
  text-shadow: 0 0 0.15em black;
  font-weight: bold;
}

.white_text-with-border--large {
  color: var(--white);
  text-shadow: 0 0 0.08em black;
  font-weight: bold;
}

.white_text-with-border--small {
  color: var(--white);
  text-shadow: 0 0 0.15em black;
  font-weight: bold;
}

.black_bold-text {
  color: black;
  text-shadow: none;
  font-weight: bold;
}

.black_plain-text {
  color: black;
  text-shadow: none;
  font-weight: normal;
}
