.cream_text-with-border--large {
  color: var(--cream);
  text-shadow: 0 0 0.08em black;
  font-weight: bold;
}

.cream_text-with-border--small {
  color: var(--cream);
  text-shadow: 0 0 0.15em black;
  font-weight: bold;
}

.white_text-with-border--large {
  color: var(--white);
  text-shadow: 0 0 0.08em black;
  font-weight: bold;
}

.white_text-with-border--small {
  color: var(--white);
  text-shadow: 0 0 0.15em black;
  font-weight: bold;
}

.black_bold-text {
  color: black;
  text-shadow: none;
  font-weight: bold;
}

.black_plain-text {
  color: black;
  text-shadow: none;
  font-weight: normal;
}

.orange_button {
  background: var(--orange);
  color: var(--cream);
  height: 2em;
  border: 0.2rem solid black;
  font-size: 2rem;
  letter-spacing: 0.03em;
  text-shadow: 0 0 0.08em black;
  font-weight: bold;
}


.cream_button {
  background: var(--cream);
  color: black;
  width: 5em;
  min-height: 3.4rem;
  letter-spacing: 0.1em;
  border: 3px solid black;
  border-radius: 5px;
  font-size: 1.7rem;
  text-shadow: none;
  font-weight: bold;
  line-height: 0.7em;
}

.button--selected {
  background: var(--grey);
  color: var(--off-cream) !important;
  text-shadow: 0 0 0.15em black;
  font-weight: bold;
}
}
